.footer {
  background: #464547;
  padding-left: 153px;
  padding-top: 37px;
  padding-right: 148px;
  padding-bottom: 90px;
  display: flex;
}

.footer-container {
  display: flex;
}

.footer-logo {
  display: flex;
  gap: 16px;
  margin-bottom: 12px;
  height: 20px;
  margin-right: 79px;
}

.footer-logo-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

.adress-rights {
  display: flex;
  width: 683px;
  justify-content: space-between;
}

.adress {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
}

.email {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 21px;
}

.rights {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
  align-self: flex-end;
}
