@font-face {
  font-family: 'Source Sans Pro';
  src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Oswald';
  src: url('../assets/fonts/Oswald/static/Oswald-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Oswald';
  src: url('../assets/fonts/Oswald/static/Oswald-Regular.ttf');
  font-weight: 400;
}
.hero {
  position: relative;
  padding-bottom: 246px;
}

.hero::before {
  content: '';
  width: 100%;
  height: 822px;
  background-image: url(../assets/Desktop_Backgrounds_1920x1200_6.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -65px;
  right: 0px;
  z-index: -1;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-top: 209px;
}
.hero-title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
  margin-top: 14px;
}

.hero-subtitle {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 32px;
}

.main {
  padding-bottom: 98px;
  background-color: #eeeeee;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #464547;
  margin-bottom: 30px;
  margin-top: 68px;
}

.main-subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #666666;
}

.main-texts {
  display: flex;
  width: 907px;
  height: 172px;
  margin-top: 37px;
  gap: 76px;
}

.main-text {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: start;
  color: #666666;
  max-width: 416px;
}

.read-more-btn {
  width: 115px;
  height: 36px;
  background: #55c2d8;
  border-radius: 18px;
  border: none;
  margin-top: 47px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;

  color: #ffffff;
}

.learn-more {
  background-image: url(../assets/bg-second.png);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  height: 637px;
  position: relative;
}

.learn-more-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.learn-more::before {
  background-color: rgba(140, 79, 42, 0.3);
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.learn-more-title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  z-index: 1;
  top: 80px;
}

.play-btn {
  width: 145px;
  height: 145px;
  background: #39c2d7;
  border-radius: 80px;
  font-size: 55px;
  color: #ffffff;
  position: absolute;
  z-index: 1;
  top: 254px;
  left: 537px;
  border: none;
}

.learn-more-subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  z-index: 1;
  top: 453px;
  left: 432px;
}
